.topbar-wrapper {
  position: absolute;

  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: white;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-item a:hover {
  text-decoration: underline;
}
